*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}
.logo img{
    max-width: 120px;
    height: auto;
}
.navmenu{
    display: flex;
}
.navmenu a{
    padding: 10px 15px;
}
a{
    color: black;
    font-size: 25px;
    font-weight: 500;
    transition: all 0.5s;
}
a:hover{
    color: red;
    transform: scale(1.1);
}
.navicons a{
   margin-right: 20px;
}
.hero{
    padding:5% 10%;
    height: 100vh;
   display: grid;
   grid-template-columns: repeat(1,1fr);
   background: url('./images/banner.avif');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   align-items: center;
}
h5{
    color: red;
   font-size: 30px;

}
h1{
    color: black;
    font-size: 65px;
    font-weight: 900;

}
p{
    font-style: italic;
    font-size: 20px;
    margin-bottom: 30px;
}
.shop{
    border: solid 2px;
    border-radius: 50px;
    padding: 5px 15px;
    transition: all 0.5s;
}
.shop:hover{
    background-color: black;
    color: white;
}
.what{
    position: fixed;
    top: 85%;
    right: 7%;
    border: solid;
    border-radius: 50px;
    padding: 5px 5px;
    transition: all 0.5s;
}
.what i{
    font-size:60px;
    color: green;
}
.what i:hover{
    color: white;
    transition: all 0.5s;
}
.what:hover{
   color: white;
   background-color: green;
}